
@{
    ViewBag.Title = "Bio";
}

<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active">Data</li>
</ol>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            INSERT PICTURE HERE
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12 text-center"><h2>TITLE</h2></div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center"><p>BIO INFORMATION</p></div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <p>WEBSITE LINK BUTTON</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            FAQ SECTION
        </div>
    </div>
</div>
