
@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Home</a></li>
    <li class="active">Freelancer</li>
</ol>

<h2>Freelancer</h2>

<div class="container">
    <p>Please select one of our Freelancers for more information about their talents.</p>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
           Freelance List
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <div class="row">
                        <a href="@Url.Action("Elevated","FreeLance")">
                            <div class="col-xs-2"><img src="~/Images/Elevated-Films/Elivated Films full white.jpg" class="img-responsive center-block" style="width: 100%; padding-left: 1em;" /></div>
                            <div class="col-xs-4"><h3>Elevated-Films</h3></div>
                        </a>
                </div>
            </li>
            <li>
                <div class="row">
                    <a href="@Url.Action("Photographer","FreeLance")">
                        <div class="col-xs-2"><img src="~/Images/Look It Photography/profile.jpg" class="img-responsive center-block" style="width: 100%; padding-left: 1em;" /></div>
                        <div class="col-xs-4"><h3>Look It Photography</h3></div>
                    </a>
                </div>
            </li>
            <li>
                <div class="row">
                    <a href="@Url.Action("Molly","FreeLance")">
                        <div class="col-xs-2"><img src="~/Images/Molly in the Mineshaft/Molly1.jpg" class="img-responsive center-block" style="width: 100%; padding-left: 1em;" /></div>
                        <div class="col-xs-4"><h3>Molly in the Mineshaft</h3></div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>

