
.titlewebspread {
    font-family: 'Gill Sans MT';
    color: whitesmoke;
    text-shadow: 2px 2px 5px white;
}

.subtitlewebspread  {
    font-family: 'Gill Sans MT';
    color: white;
    width: 55%;
}

.homejumbotron {
    background-image: url('../Images/tonsofflowers.jpg');
}

.homecaption {
    font-weight: bold;
    text-align: center;
}


.imagebox2 {
    padding-bottom: 5px;
}