@{
    ViewBag.Title = "About WEDSPREAD";
}
<h2>@ViewBag.Title.</h2>


<p>
    In Provo, every year thousands of couples decide to tie the knot, get hitched, take the plunge, or buy the cow (whatever that means).
    Getting married is awesome (At least thats what I'm told), but it can also be terrifying. Finding the right cake, dress, venue, photogrpher, 
    videographer, band, florist, its all very overwhelming. Here at WEDSPREAD we provide a better, less stressful, way.  
    WEDSPREAD is the perfect place to find all the pieces to make your wedding perfect.
    Browse our selection of freelancers that include, photographers, videographers, bakers, caterers, musicians, florists, and venues.  
    Learn more about our freelancers by viewing their bios, pricing, and reviews. Or make a profile and post a contract detailing
    what your looking for and freelancers will contact you with their bid. Getting married is supposed to be a happy experience.  WEDSPREAD 
    is the one place to assemble the perfect Wedding spread to get you through to I DO.


    Weddings. Engagements. Dinners. Special Ocassions. Parties. Receptions. Events. Activities. Dates.
</p>
</p>
