@{
    ViewBag.Title = "About WEDSPREAD";
}

<link href="~/Content/DaneStyleSheet.css" rel="stylesheet" />

<!--About us page with information and picture-->
<div class="row callpic">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1 class="text-center titlecontact" style="font-family:'Gill Sans MT'; font-size: 5em">@ViewBag.Title</h1>
        <br />
        <img src="~/Images/outdoor-wedding-featured-image.jpg" class="img-rounded center-block img-responsive" style="width:75%" alt="Wedding Contact">
    </div>
    <img  />
    <div class="col-md-1"></div>
</div>
<p style="font-size:130%">
    <br /><br />
    Every year in Provo thousands of couples decide to tie the knot, get hitched, take the plunge, or buy the cow (whatever that means).
    Getting married is awesome (at least that's what I'm told), but it can also be terrifying. Finding the right cake, dress, venue, photographer, 
    videographer, band, florist, it's all very overwhelming. Here at WEDSPREAD we provide a better, less stressful way.  
    WEDSPREAD is the place to find all the pieces to make your wedding perfect.
    <br /><br />
    Browse our selection of freelancers that include, photographers, videographers, bakers, caterers, musicians, florists, and venues.  
    Learn more about our freelancers by viewing their bios, pricing, and reviews. You can also make a profile and post a contract detailing
    what you're looking for and freelancers will contact you with their bid. Getting married is supposed to be a happy experience. WEDSPREAD 
    is the one place to assemble the perfect wedding spread to get you through to I DO.


   
</p>
</p>
