@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Wedspread</h1>
    <p class="lead">Weddings. Engagements. Dinners. Special Ocassions. Parties. Receptions. Events. Activities. Dates.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Book Now &raquo;</a></p>
</div>

