@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Rachel.css" rel="stylesheet" />


<div class="jumbotron homejumbotron">
    <h1 class="titlewebspread">Wedspread</h1>
    <p class="lead subtitlewebspread">Weddings. Engagements. Dinners. Special Ocassions. Parties. Receptions. Events. Activities. Dates.</p>
    <p><a href="@Url.Action("Index", "FreeLance")" class="btn btn-primary btn-lg">Book Now &raquo;</a></p>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-4 imagebox2">
            <a href="#" class="thumbnail">
                <div class="caption homecaption">
                    Weddings
                </div>
                <div class="image">
                    <img class="img-responsive" src="~/Images/wedding3.png" />
                </div>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#" class="thumbnail">
                <div class="caption homecaption">
                    Engagements
                </div>
                <div class="image">
                    <img class="img-responsive" src="~/Images/engagement1000700.png" />
                </div>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#" class="thumbnail">
                <div class="caption homecaption">
                    Dinners
                </div>
                <div class="image">
                    <img class="img-responsive" src="~/Images/dinner1000700.png" />
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 imagebox2">
            <a href="#" class="thumbnail">
                <div class="caption homecaption">
                    Special Ocassions
                 </div>
                <div class="image">
                    <img class="img-responsive" src="~/Images/specialocassion1000700.png" />
                </div>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#" class="thumbnail">
                <div class="caption homecaption">
                     Parties
                </div>
                <div class="image">
                    <img class="img-responsive" src="~/Images/party1000700.png" />
                </div>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#" class="thumbnail">
                <div class="caption homecaption">
                    Receptions
                </div>
                <div class="image">
                    <img class="img-responsive" src="~/Images/reception1000700.png" />
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 imagebox2">
            <a href="#" class="thumbnail">
                <div class="caption homecaption">
                    Events
                </div>
                <div class="image">
                    <img class="img-responsive" src="~/Images/event1000700.png" />
                </div>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#" class="thumbnail">
                <div class="caption homecaption">
                    Activities
                </div>
                <div class="image">
                    <img class="img-responsive" src="~/Images/activity1000700.png" />
                </div>
            </a>
        </div>
        <div class="col-xs-4">
            <a href="#" class="thumbnail">
                <div class="caption homecaption">
                    Dates
                </div>
                <div class="image">
                    <img class="img-responsive full-width" src="~/Images/date1000700.png" />
                </div>
            </a>
        </div>
    </div>
</div>

<!----<div class="col-sm-6">
    <a href="#" class="thumbnail">
        <div class="caption">
            title<br />3 x bekeken
        </div>
        <div class="image">
            <img src="" class="img img-responsive full-width" />
        </div>
    </a>
</div>-->

