@model IEnumerable<WedSpread.Models.Freelancer>
@{
    ViewBag.Title = "Index";
}

<!--Breadcrumb-->
<ol class="breadcrumb">
    <li><a href="@Url.Action("Index","Home")">Home</a></li>
    <li class="active">Freelancer</li>
</ol>

<h2>Freelancer</h2>

<!--Drop down list with freelancers-->
<div class="container">
    <p>Please select one of our Freelancers for more information about their talents.</p>
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            Freelance List
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            @foreach (var item in Model)
            {
                <li>
                    <div class="row">
                        <a href="@Url.Action("Bio","FreeLance", new { id = item.FreelancerID }, null)">
                            <div class="col-xs-2"><img src="~/Images/@(item.FreelancerPicture)" class="img-responsive center-block" style="width: 100%; padding-left: 1em;" /></div>
                            <div class="col-xs-4"><h3>@item.FreelancerName</h3></div>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

